@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Roboto:wght@500&display=swap");
html {
  scroll-behavior: smooth; /*支援錨點跳轉時，可以有平滑的移動效果*/
  background-image: url("https://images.pexels.com/photos/7078619/pexels-photo-7078619.jpeg?cs=srgb&dl=pexels-laura-tancredi-7078619.jpg&fm=jpg");
  background-size: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*==============HEADER NAVBAR===============*/

header {
  /*待會要做navbar 往下滑動時固定位置*/
  position: fixed;
  top: 0; /*在固定導覽列時，設定top:0可將導覽列頂到最上面*/
  width: 100%;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 10%;
  background-color: rgb(58, 58, 58);
  z-index: 10;
}

.logo {
  position: absolute;
  left: 50px;
  cursor: pointer;
  font-size: 36px;
  font-weight: 700;
  color: antiquewhite;
}

.logo:hover {
  font-size: 48px;
  color: #0088a9;
  transition: 0.5s;
}

.nav_link {
  list-style: none;
  display: flex;
}

.nav_link li {
  padding: 0 20px;
  margin-top: 10px;
}

.nav_link li a {
  transition: all 0.3s ease 0s;
  color: antiquewhite;
  font-weight: 700;
  font-size: 22px;
  text-decoration: none;
}

.nav_link li a:hover {
  color: #0088a9;
}

.icon {
  position: absolute;
  right: 3px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.icon a {
  padding: 0 15px;
  transition: 0.5s;
  color: antiquewhite;
}

.fa-facebook-square:hover {
  color: rgb(66, 103, 178);
  transition: 0.5s;
}

.fa-instagram-square:hover {
  color: rgb(225, 48, 108);
  transition: 0.5s;
}

.fa-linkedin:hover {
  color: rgb(93, 150, 219);
  transition: 0.5s;
}

.icon a:active {
  transform: translate(0, 4px);
  transition: none;
}

/*=========== HOME ==============*/

.home_row {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}

.home_row_left {
  width: 800px;
  height: 700px;
  overflow: hidden;
  /*border: 3px solid black;*/
  text-align: start;
  line-height: 1.5;
}

.home_row_left_content {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.home_row_left_content h2 {
  font-size: 60px;
  text-align: right;
}

.home_row_left_content h3 {
  font-size: 30px;
  text-align: right;
}

.home_row_left_content p {
  font-size: 24px;
  text-align: right;
  padding: 20px 0;
}

.home_row_right {
  width: 700px;
  height: 700px;
  margin-left: 100px;
}

.home_row_right img {
  border-radius: 50%;
  width: 50%;
  box-shadow: 10px 15px 20px black;
}

.home a {
  display: block;
  text-decoration: none;
  color: black;
}

.home a:hover {
  font-size: 28px;
  transition: 0.5s;
}

.home .button {
  text-align: center;
  margin-top: -18rem;
  cursor: pointer;
}

.home .button button {
  border-radius: 35px;
  padding: 10px;
  font-weight: 700;
  font-size: 22px;
  color: black;
  text-decoration: none;
  box-shadow: 3px 3px 10px black;
}

/*nbsp*/
#nbsp {
  margin: 10rem 0;
}
/*=================== ABOUT=================*/
#term1 {
  display: block;
  margin: 250px;
}

.about {
  margin-top: 24rem;
}

.about h1 {
  text-align: center;
  font-size: 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.about_row {
  width: 1440px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 50px 0;
  padding-right: 100px;
  text-align: center;
}
/*調整相框大小，overflow把超出相框的照片隱藏起來*/
.about_row_left {
  width: 900px;
  height: 700px;
  overflow: hidden;
  border: 2px soild black;
}
/*調整相片的位置，即可達到裁切相片、移動照片的效果*/
.about_row_left img {
  margin-left: 0rem;
}

.about_row_right {
  width: 900px;
  height: 700px;
  overflow: hidden;
  padding-left: 20px;
}

.about_text p {
  text-align: left;
  margin-top: 10px;
  font-size: 26px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.about_cv {
  text-align: left;
}

.about_cv button {
  font-size: 26px;
  background-color: darkgray;
  padding: 10px;
  border-radius: 35px;
  cursor: pointer;
  margin-top: 70px;
  box-shadow: 3px 3px 10px black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}

/*===================EXP=================*/

#term2 {
  display: block;
  margin-bottom: 100px;
}

.section_title {
  text-align: center;
  font-size: 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.exp_classify {
  margin: 2rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.exp_classify h3 {
  font-size: 36px;
  margin-right: 200px;
  padding-left: 126px;
}

.exp_wrap {
  width: 1180px;
  margin: 0 auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.exp_timeline {
  padding: 0;
}

.exp_timeline h3 {
  font-size: 28px;
  color: rgb(12, 88, 151);
}

.exp_timeline span {
  font-size: 20px;
  color: rgb(173, 19, 7);
  line-height: 1.6;
}

.exp_timeline li {
  list-style-type: none;
  width: 50%;
  padding: 10px 0;
  box-sizing: border-box; /*不加這個會超過總寬，所以會壞掉*/
  /*之後做了定位才回來加*/
  position: relative;
}

.exp_timeline li:nth-child(odd) {
  float: left;
  padding-right: 100px;
}

.exp_timeline li:nth-child(even) {
  float: right;
  padding-left: 100px;
  transform: translateY(200%);
}

.exp_timeline a {
  text-decoration: none;
  background-color: #fff; /*之後要做hover*/
  /*邊框*/
  border: 2px solid rgb(12, 88, 151);
  display: block; /*a 是inline無法設寬高，不加這個會壞掉*/
  padding: 20px;
  box-sizing: border-box; /*預防超出範圍。還是加一下比較安全*/
  border-radius: 10px;
  box-shadow: 10px 10px 10px #888; /*X  Y  模糊  顏色*/
  color: black;
}

.exp_timeline a:hover {
  background-color: rgb(12, 88, 151);
  color: white;
}

.exp_timeline a:hover h3,
.exp_timeline a:hover span {
  color: #ffffff;
}

/*中間線*/
/*原本檔案偷懶的寫法是：.timeline li::after*/
.exp_timeline li:nth-child(odd)::after {
  content: "";
  position: absolute;
  top: 0;
  width: 3px;
  height: 255%;
  background-color: rgb(173, 19, 7);
  right: 0;
  z-index: -2; /*將線至於最下層*/
}

/*因為做了odd的定位 right:0，就已經出現在中間了，所以even就可以省略
		.exp_timeline li:nth-child(even)::after{
			content:"";
			position: absolute;
			top:0;
			width:1px;
			height: 100%;
			background-color:tomato;
		}
		*/

/*點點*/

.exp_timeline li::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: teal;
  z-index: 0; /*將小球推到最上層，不會被線擋住*/
  top: 0;
  bottom: 0;
  margin: auto;
  box-shadow: 2px 2px 5px black;
}

.exp_timeline li:nth-child(odd)::before {
  right: -10px;
}

.exp_timeline li:nth-child(even)::before {
  left: -10px;
}

/*橫線*/

.exp_timeline h3::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 3px;
  background-color: teal;
  /*要他去中間*/
  top: 0;
  bottom: 0;
  margin: auto;
}

/*定位對的位置*/
.exp_timeline li:nth-child(odd) h3::after {
  right: 0;
}

.exp_timeline li:nth-child(even) h3::after {
  left: 0;
}
/*Modal Pop-up*/
.modal1,
.modal2,
.modal3,
.modal4 {
  position: fixed;
  top: 30px;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
}

.modal_frame {
  border-radius: 10px;
  background-color: rgb(58, 56, 56);
  width: 500px;
  height: 600px;
  padding: 50px 0;
  margin-top: 5rem;
  position: relative;
}

.modal1 h3,
.modal2 h3,
.modal3 h3,
.modal4 h3 {
  color: white;
  font-size: 35px;
  text-align: center;
  line-height: 1.5;
  padding-bottom: 20px;
}

.modal_img {
  padding: 0 5px;
  box-sizing: border-box;
}

.modal_img img {
  width: 100%;
  height: 200px;
}

.modal_text {
  padding: 16px;
}

.modal1,
.modal2,
.modal3,
.modal4 p {
  color: #fff;
  font-size: 20px;
}

.modal1 a,
.modal2 a,
.modal3 a,
.modal4 a {
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 5px;
  color: white;
}

.hide {
  display: none;
}

/*================= SKILLS ===============*/
#term3 {
  display: block;
  padding-top: 300px;
  margin-top: 750px;
  clear: both; /*清除上面float 的影響*/
}

.skills {
  margin: -10rem 10rem 12rem 10rem;
}

.skills_container {
  width: 1350px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0 auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.skills_header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  cursor: pointer;
}

.skills_title {
  margin-bottom: 50px;
}

.skills_content {
  margin: 50px 50px;
}

.skills_arrow1,
.skills_arrow2,
.skills_arrow3 {
  padding-left: 4rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.skills_icon,
.skills_arrow1,
.skills_arrow2,
.skills_arrow3 {
  font-size: 2rem;
  color: rgb(20, 53, 160);
}

.skills_icon {
  margin-right: 10px;
}

.skills_title {
  font-size: 20px;
}

.skills_subtitle {
  font-size: 14px;
  color: grey;
}

.skills_data {
  margin: 36px 0;
}

.skills_arrow1,
.skills_arrow2,
.skill_arrow3 {
  margin-left: auto;
  transition: 0.4s;
  border: none;
}

.skills_list1,
.skills_list2,
.skills_list3 {
  display: block;
  row-gap: 1.5rem;
  padding-left: 2.7rem;
}

.show {
  display: none;
}
/*可以將上面的display:block 與none調換，變成一開始關閉*/

.skills_title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.skills_name {
  font-size: 20px;
  font-weight: 500;
}

.skills_bar,
.skills_percentage {
  height: 5px;
  border-radius: 0.25rem;
}

.skills_bar {
  background-color: rgb(65, 60, 60);
}

.skills_percentage {
  display: block;
  background-color: rgb(231, 39, 39);
}

.skills_html {
  width: 90%;
}

.skills_css {
  width: 90%;
}

.skills_js {
  width: 80%;
}

.skills_vue {
  width: 10%;
}

.skills_ss {
  width: 100%;
}

.skills_ms {
  width: 100%;
}

.skills_pn {
  width: 100%;
}

.skills_pp {
  width: 90%;
}

.skills_photo {
  width: 65%;
}

.skills_ai {
  width: 65%;
}

.skills_en {
  width: 85%;
}

.skills_mt {
  width: 100%;
}
.skills_jp {
  width: 5%;
}

/*
.skills_close .skills_list{
    height:0;
    overflow:hidden;
}

.skills_open .skills_list{
    height: max-content;
    margin-bottom: 30px;
}

.skills_open .skills_arrows{
    transform: rotate(-180deg);
}*/

/*============Porfolio=========*/
#term4 {
  display: block;
  margin-bottom: 350px;
}

.porfolio_section {
  height: 800px;
}

.porfolio_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  width: 800px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 800px;
  height: 500px;
}

/*css for manual slide navigation*/
.navigation-manual {
  position: absolute;
  width: 800px;
  margin-top: 550px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid black;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background-color: #40d3dc;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

#radio5:checked ~ .first {
  margin-left: -80%;
}

/*css for automatic slide navigation*/

.navigation-auto {
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 550px;
}

.navigation-auto div {
  border: 2px solid #40d3dc;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: #40d3dc;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: #40d3dc;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: #40d3dc;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background-color: #40d3dc;
}

#radio5:checked ~ .navigation-auto .auto-btn5 {
  background-color: #40d3dc;
}

/*============Contact me=========*/

#term5 {
  display: block;
  margin-bottom: 100px;
}

.contact {
  margin-bottom: 2rem;
}
.contact_section {
  margin-bottom: 6rem;
}

.contact_container {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.contact_left {
  margin-right: 20px;
}
.contact_form {
  margin-left: 20px;
}

.contact_information {
  display: flex;
  padding: 2rem 0;
}

.contact_icon {
  font-size: 3rem;
  color: rgb(20, 53, 160);
  margin-right: 10px;
}

.contact_title {
  font-size: 30px;
  font-weight: 600;
}

.contact_subtitle {
  font-size: 16px;
  color: black;
}

.contact_content {
  background-color: rgb(148, 173, 171);
  border-radius: 0.5rem;
  padding: 0.75rem 1rem 0.25rem;
}

.contact_label {
  font-size: 26px;
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.contact_input {
  width: 100%;
  color: black;
  font-size: 20px;
  border: 1px solid black;
  outline: none;
  padding: 0.25rem 0.5rem 0.5rem 0;
}

form a {
  /*button*/
  display: block;
  font-size: 28px;
  text-align: center;
  text-decoration: none;
  color: black;
  padding: 10px;
  margin-top: 2rem;
  border: 2px solid black;
  border-radius: 35px;
  box-shadow: 3px 3px 10px black;
}

form a:hover {
  background-color: rgb(148, 173, 171);
  transition: 0.5s;
}

form a:active {
  transform: translateY(4px);
  transition: none;
}

/*============Footer=========*/

.footer_bg {
  background-color: rgb(58, 58, 58);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
}

.footer_container {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer_name {
  position: absolute;
  left: 50px;
  color: antiquewhite;
}

.footer_title {
  font-size: 36px;
  margin-bottom: 10px;
}

.footer_title:hover {
  font-size: 48px;
  margin-bottom: 10px;
  transition: 0.5s;
  color: #0088a9;
  cursor: pointer;
}

.footer_links li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 13px;
}

.footer_link {
  text-decoration: none;
  list-style: none;
  font-size: 24px;
  padding: 0 10px;
  color: white;
  font-weight: bold;
}

.footer_link:hover {
  color: #0088a9;
  transition: 0.5s;
}

.footer_socials {
  margin-top: 10px;
  position: absolute;
  right: 3px;
}

.footer_socials a {
  padding: 0 15px;
  color: antiquewhite;
}

.footer_socials a:hover {
  color: rgba(24, 119, 242, 0.8);
  transition: 0.5s;
}

.footer_socials a:active {
  transform: translate(0, 4px);
  transition: none;
}

.footer_copy {
  font-size: 16px;
  text-align: center;
  color: white;
  margin-top: 30px;
}
